mixin storeForm(store = {})

  form(action=`/add/${store._id || ''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" value=store.name)
    label(for="description") Description
    textarea(name="description")= store.description
    - tags = store.tags || [];
    ul.tags
      each tag in tags
        .tag.tag__choice
          input(name="tags" type="checkbox" value=tag id=tag checked=(tags.includes(tag)))
          label(for=tag)= tag
    input(type="submit" value="Save" class="button")
